.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

html {
  background-color: #f1f1f1;
  color: #f1f1f1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
  /* border-bottom: 2px solid black; */
  background-color: #f1f1f1;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.post-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #17000013;
}

.app-container {
  margin-top: 126px;
}

.hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #df0e0e;
  border-color: rgb(224, 235, 12) transparent rgb(21, 190, 2) transparent;
  animation: hourglass 1.3s infinite;
}
@keyframes hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
